<h1>Processo concluido!</h1>
<%= link_to 'Voltar', controller: 'clientes', action: 'index' %>
<%= link_to 'Ver banco', controller: 'clientes', action: 'banco' %>
<%= link_to 'Gerar PDF', controller: 'clientes', action: 'gerar' %>
