<p>Hello <%= @resource.email %>!</p>

<p>Alguem solicitou um link para mudar sua senha. Voce pode faze-lo atraves do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se voce nao fez essa solicitaçao ignore esse e-mail, por favor.</p>
<p>Sua senha nao mudara se voce nao clicar no link acima para criar uma nova.</p>
